.dialog-container{
    height: 510px;
    width: 550px;
    padding: 20px;

    .service-form{
        background-color: white;
        border-radius: 10px;
        font-family: 'Rubik', sans-serif;
        font-weight: bold;
    
        .buttons{
            padding-top: 60px;
            justify-content: space-between;
            align-items: center;
            display: flex;
        }
    }

}