<div class="doctor">
    <div class="photo">
        <img [src]="doctor.photoId"/>
    </div>
    <div class="detail">
        <div class="name">{{ doctor.firstName }} {{ doctor.middleName }} {{ doctor.lastName }} </div>
        <div class="age">{{ doctor.dateOfBirth }}</div>
        <div class="start-year">Start career at {{ doctor.careerStartYear }}</div>
        <div class="status">{{ doctor.status }}</div>
    </div>

    <!-- "id": "05bd4b09-bbd3-414e-f452-08dd5d68f07e",
    "firstName": "ivan",
    "lastName": "ivanov",
    "middleName": "ivanovich",
    "dateOfBirth": "2025-03-07",
    "careerStartYear": 2007,
    "status": "v potoke",
    "accountId": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
    "specializationId": "d71f7674-acad-4f9d-162e-08dd5d68474c",
    "officeId": "3fa85f64-5717-4562-b3fc-2c963f66afa6" -->
</div>