<app-header></app-header>
<div class="page-container">

    <div class="left">
        <div class="photo">
            <img id="profile-photo" src="assets/data/blank.webp" alt="">
        </div>
        <div class="change-photo-button">
            <label class="file-label" for="file-input">
                change picture
            </label>
            <input type="file" id="file-input">
        </div>
    </div>

    <div class="right">
        <div class="details">
            <div class="full-name">{{ account.firstName }} {{ account.lastName }} {{ account.middleName }}</div>
            <div class="email">Email: {{ account.email }}</div>
            <div class="phone">Phone: {{ account.phoneNumber }}</div>
        </div>
    </div>

    @if (roleService.isPatient()){
    <div class="appointments">
        <app-expansion-container header="Your Appointments" [canAdd]="false">
            @for (appointment of appointments; track appointment) {
                <app-appointment-card [appointment]="appointment"></app-appointment-card>
            }
        </app-expansion-container>
    </div>
    }

</div>