<div class="appointment">
    <div class="details">
        <div class="patient">{{ appointment.patient }}</div>
        <div class="service">{{ appointment.service }}</div>
        <div class="date"> {{ appointment.date }} </div>
        <div class="time">{{ appointment.time }}</div>
    </div>

    @if (appointment.isApproved){
        <div class="buttons">
            <button class="btn btn-dark">Add result</button>
        </div>
    }
    @else{
        <div class="buttons">
            <button class="btn btn-success">Approve</button>
            <button class="btn btn-danger">Decline</button>
        </div>
    }
</div>