<h2 mat-dialog-title>Office</h2>

<div class="dialog-container">
    <div class="office-form">
        <div class="form-group">
            <label for="address">Address</label>
             <input type="text" class="form-control" placeholder="24-12 cool street in the big city" [value]="address">
            <p>
        </div>
        <div class="form-group">
            <label for="phone">Phone</label>
            <input type="tel" class="form-control" placeholder="+333 (33) 333-33-33" [value]="registryPhoneNumber">
            <p>
        </div>
        <div class="form-group">
            <label for="status">Activity</label>
            <select name="status" class="form-control" [value]="isActive">
                <option value="true">Active</option>
                <option value="false">Closed</option>
            </select>
            <p>
        </div>
        <div class="form-group">
            <label for="photo">Photo</label>
            <input type="file" name="photo" class="form-control">
            <p>
        </div>
        <div class="buttons">
            <button class="btn btn-dark" mat-dialog-close>Accept</button>
            <button class="btn" mat-dialog-close>Back</button>
        </div>
    </div>
</div>