<app-header></app-header>
<div class="page-container">

    <div class="appointments">
        <app-expansion-container header="Appointments">
            @for (appointment of appointments; track appointment){
                @if (!appointment.isApproved){
                    <app-appointment-card [appointment]="appointment"></app-appointment-card>
                }
            }
        </app-expansion-container>

        <app-expansion-container header="Todays Appointments">
            @for (appointment of appointments; track appointment){
                @if (appointment.isApproved){
                    <app-appointment-card [appointment]="appointment"></app-appointment-card>
                }
            }
        </app-expansion-container>
    </div>
</div>
