<app-header></app-header>
<div class="page-container">

    <div class="today-appointments-thumbnail">
        <app-expansion-container [header]="'Appointments'" [columns]="7">
            @for (appointment of appointments; track appointment){
                <app-appointment-card [appointment]="appointment"></app-appointment-card>
            }
        </app-expansion-container>
    </div>

    <div class="appointments-thumbnail">
        <app-expansion-container [header]="'Todays Appointments'" [columns]="7">
            @for (appointment of appointments; track appointment){
                <app-appointment-card [appointment]="appointment"></app-appointment-card>
            }
        </app-expansion-container>
    </div>
</div>
